* {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 50px;
    font-size: 60px;
}

section div {
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

section div:hover {
    transform: translateY(-6px);
    cursor: pointer;
}

h3 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

section {
    margin: 0 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

div img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.voto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

button {
    color: white;
    background-color: #0046FF;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}