body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


div img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 70px;
}

.voto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
}

button {
    color: white;
    background-color: #0046FF;
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}