body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


div img {
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    color: white;
    background-color: #0046FF;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}

.btn-sair {
    position: absolute;
    top: 15px;
    right: 20px;

    background-color: transparent;
    color: #666;
    border: 1px solid #ccc;

    padding: 6px 14px;
    width: auto;
    margin: 0;

    font-size: 13px;
    border-radius: 20px;
    box-shadow: none;
}

.btn-sair:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
